.intro{
    background: linear-gradient(90deg,#b0c4cf 0,#070647 100%);  
    display: flex;
    @include res('padding-top', 60px);
    @include media(575){
        @include resa('padding-top', 20px);
        @include resa('padding-bottom', 20px);
    }
    &__body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        @include media(575){
            flex-direction: column;
            align-items: center;
        }
    }
    &__img{
        @include res('min-width', 603px);
        @include res('width', 603px);
        line-height: 0;
        @include res('margin-left', -90px);
        @include media(575){
            order: 1;
            min-width: 100%;
            width: 100%;
            margin-left: 0;
            @include resa('margin-bottom', 50px);
        }
        img{
            line-height: 0;
            width: 100%;
            &.disable-sm{
                @include media(575){
                    display: none;
                }
            }
            &.enable-sm{
                display: none;
                @include media(575){
                    display: block;
                }
            }
        }
    }
    &__title{
        font-family: Roboto;
        @include res('max-width', 700px);
        width: 100%;
        @include res('font-size', 72px);
        text-align: right;
        color: #fff;
        @include res('margin-bottom', 30px);
        margin-right: 0 ;
        margin-left: auto;
        @include media(575){
            @include resa('font-size', 30px);
            max-width: 100%;
            text-align: center;
            margin-right: auto;
            @include resa('margin-bottom', 20px);
        }
    }
    &__slogan{
        @include res('font-size', 22px);
        color: #fff;
        font-style: italic;
        text-align: right;
        @include res('margin-bottom', 30px);
        @include media(575){
            text-align: center;
            @include resa('font-size', 16px);
            @include resa('margin-bottom', 20px);
        }
    }
    &__wrapper{
        display: flex;
        align-items: start;
        justify-content: flex-end;
        flex-wrap: wrap;
        @include res('margin-bottom', 70px);
        @include media(575){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__item{
        width: calc(50% - 0.781vw);
        @include res('padding-top', 15px);
        position: relative;
        @include media(575){
            width: 100%;
            @include resa('padding-top', 10px);
        }
        &::before{
            content: '';
            position: absolute;
            @include res('height', 2px);
            background: #fff;
            @include res('width', 100px);
            top: 0;
            right: 0;
            @include media(575){
                left: 0;
                @include resa('height', 2px);
                @include resa('width', 70px);
            }
        }
        &:nth-of-type(odd){
            @include res('margin-right', 30px);
            @include media(575){
                margin-right: 0;
            }
        }
        &:first-of-type, &:nth-of-type(2){
            @include res('margin-bottom', 30px);
            @include media(575){
                @include resa('margin-bottom', 10px);
            }
        }
        &:not(:last-of-type){
            @include media(575){
                @include resa('margin-bottom', 10px);
            }
        }
    }
    &__desc{
        @include res('font-size', 22px);
        text-align: right;
        color: #fff;
        @include media(575){
            @include resa('font-size', 18px);
            text-align: left;
        }
    }
    &__btn{
        margin-left: auto;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('font-size', 17px);
        color: #fff;
        @include res('width', 380px);
        @include res('height', 56px);
        background: #8a1b13;
        @include res('border-radius', 50px);
        font-weight: 500;
        @include media(575){
            width: 100%;
            @include resa('border-radius', 50px);
            @include resa('height', 40px);
            @include resa('font-size', 17px);
            order: 2;
        }
        &.disable-sm{
            @include media(575){
                display: none;
            }
        }
        &.enable-sm{
            display: none;
            @include media(575){
                display: block;
            }
        }
    }
}