.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;
    z-index: 100;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &-bg{
        background: #00000080;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__body{
        background: #e1e8ed;
        @include res('width', 400px);
        @include res('min-width', 400px);
        @include res('padding', 40px);
        position: relative;
        @include res('border-radius', 7px);
        @include media(575){
            @include resa('width', 330px);
            @include resa('min-width', 330px);
            @include resa('padding', 20px);
            @include resa('padding-top', 30px);
            @include resa('border-radius', 7px);
        }
    }
    &__button{
        position: absolute;
        @include res('top', 20px);
        @include res('right', 20px);
        @include res('width', 16px);
        @include res('height', 16px);
        @include media(575){
            @include resa('top', 15px);
            @include resa('right', 15px);
            @include resa('width', 16px);
            @include resa('height', 16px);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        @include res('font-size', 22px);
        color: #060607;
        text-align: center;
        @include res('margin-bottom', 30px);
        @include media(575){
            @include resa('font-size', 18px);
            @include resa('margin-bottom', 20px);
        }
    }
    &__subtitle{
        @include res('font-size', 15px);
        color: #060607;
        @include res('margin-bottom', 10px);
        @include media(575){
            @include resa('font-size', 15px);
            @include resa('margin-bottom', 10px);
        }
    }
    &__input{
        width: 100%;
        @include res('padding-top', 3px);
        @include res('padding-bottom', 3px);
        @include res('padding-left', 15px);
        @include res('padding-right', 15px);
        border: solid rgba(6,6,7,.15);
        @include res('border-width', 1px);
        @include res('height', 46px);
        @include res('border-radius', 4px);
        @include res('margin-bottom', 20px);
        @include res('font-size', 15px);
        color: #060607;
        @include media(575){
            @include resa('padding-top', 3px);
            @include resa('padding-bottom', 3px);
            @include resa('padding-left', 15px);
            @include resa('padding-right', 15px);
            @include resa('border-width', 1px);
            @include resa('height', 34px);
            @include resa('border-radius', 4px);
            @include resa('margin-bottom', 20px);
            @include resa('font-size', 15px);
        }
    }
    &__btn{
        width: 100%;
        @include res('height', 46px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('font-size', 15px);
        color: #ffff;
        background: #8a1b13;
        @include res('border-radius', 50px);
        @include media(575){
            @include resa('height', 34px);
            @include resa('font-size', 15px);
            @include resa('border-radius', 50px);
        }
    }
    &__p{
        @include res('margin-top', 15px);
        @include res('font-size', 13px);
        color: #00000080;
        @include media(575){
            @include resa('margin-top', 15px);
            @include resa('font-size', 13px);
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__desc{
        text-align: center;
        @include res('font-size', 16px);
        color: #060607;
        @include res('margin-bottom', 20px);
        @include media(575){
            @include resa('font-size', 16px);
            @include resa('margin-bottom', 20px);
        }
    }
    &__txt{
        @include res('font-size', 12px);
        opacity: 0.5;
        @include res('margin-bottom', 10px);
        @include media(575){
            @include resa('font-size', 12px);
            @include resa('margin-bottom', 10px);
        }
    }
    &__textarea{
        width: 100%;
        @include res('height', 66px);
        @include res('padding-top', 10px);
        @include res('padding-bottom', 10px);
        @include res('padding-left', 15px);
        @include res('padding-right', 15px);
        @include res('font-size', 14px);
        color: #060607;
        border: solid rgba(6,6,7,.15);
        @include res('border-width', 1px);
        @include res('border-radius', 4px);
        resize: none;
        @include res('margin-bottom', 20px);
        @include media(575){
            @include resa('height', 66px);
            @include resa('padding-top', 10px);
            @include resa('padding-bottom', 10px);
            @include resa('padding-left', 15px);
            @include resa('padding-right', 15px);
            @include resa('font-size', 14px);
            @include resa('border-width', 1px);
            @include resa('border-radius', 4px);
            @include resa('margin-bottom', 20px);
        }
    }
    &__medias{
        display: flex;
        align-items: center;
    }
    &__media{
        @include res('width', 35px);
        @include res('height', 35px);
        @include media(575){
            @include resa('width', 35px);
            @include resa('height', 35px);
        }
        &:not(:last-of-type){
            @include res('margin-right', 20px);
            @include media(575){
                @include resa('margin-right', 20px);
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}