.prices{
    @include res('padding-bottom', 70px);
    @include media(575){
        @include resa('padding-bottom', 30px);
    }
    &__title{
        color: #3C5C11;
        @include res('font-size', 48px);
        font-family: Roboto;
        text-align: center;
        @include res('margin-bottom', 50px);
        @include media(575){
            @include resa('font-size', 30px);
            @include resa('margin-bottom', 30px);
        }
    }
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(575){
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__wrapper{
        width: calc(33.333% - 1.736vw);
        @include media(575){
            width: 100%;
        }
        &:not(:last-of-type){
            @include media(575){
                @include resa('margin-bottom', 30px);
            }
        }
    }
    &__subtitle{
        @include res('font-size', 22px);
        color: #3C5C11;
        font-weight: 600;
        text-align: center;
        @include res('margin-bottom', 40px);
        @include res('min-height', 60px);
        font-family: Roboto;
        @include media(575){
            @include resa('font-size', 16px);
            min-height: max-content;
            @include resa('margin-bottom', 25px);
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-of-type){
            @include res('margin-bottom', 20px);
            @include media(575){
                @include resa('margin-bottom', 15px);
            }
        }
    }
    &__p{
        @include res('font-size', 16px);
        @include media(575){
            @include resa('font-size', 14px);
        }
        &:last-of-type{
            text-align: right;
            @include res('margin-left', 30px);
            white-space: nowrap;
            @include media(575){
                @include resa('margin-left', 20px);
            }
        }
        &:first-of-type{
            @include media(575){
                @include resa('max-width', 300px);
                width: 100%;
            }
        }
    }
}