mixin about()
    .about 
        .about__body.container 
            .about__img 
                img(src="@img/about-img.jpg", alt="" draggable="false")
            .about__right   
                p.about__subtitle Здравствуйте!
                p.about__desc Меня зовут Козырицкая Елена Андреевна. Как юрист и адвокат , я специализируюсь на экономических и общеуголовных преступлениях.
                p.about__desc Я получила образование в области экономики и права в двух институтах, что дает мне всестороннее представление об этих областях. Кроме того, у меня большой практический опыт работы в качестве юриста и более чем 10-летний опыт ведения уголовных дел.
                p.about__desc Такое сочетание образования и опыта позволяет мне предоставлять высококачественные юридические услуги в сложных ситуациях и на различных стадиях рассмотрения дела.
