mixin about()
    .about 
        .about__body.container 
            .about__img 
                img(src="@img/about-img.jpg", alt="" draggable="false")
            .about__right   
                p.about__subtitle Здравствуйте!
                p.about__desc Я, Бергер Ольга Владимировна, адвокат. Состою в реестре адвокатов Адвокатской палаты г. Москвы, реестровый № 77/ 8764.
                p.about__desc С 2007 защищаю права и интересы граждан в судах общей юрисдикции в различных субъектах Российской Федерации. 
                p.about__desc Оказываю юридическую помощь на основании письменного соглашения с указанием перечня и фиксированной стоимости юридических услуг. Каждый судебный кейс веду лично с соблюдением адвокатской тайны. Нахожусь на связи 24 / 7.
