mixin clients()
    .clients 
        .clients__body.container 
            h2.clients__title Я сражаюсь за каждого своего клиента до конца на каждой стадии уголовного процесса :
            .clients__content
                .clients__top 
                    .clients__item 
                        .clients__img   
                            img(src="@img/clients-img-1.svg", alt="" draggable="false")
                        p.clients__subtitle Предварительное следствие
                        p.clients__p Защита на стадии предварительного следствия подозреваемых/обвиняемых. 
                        p.clients__p Представление интересов на стадии предварительного следствия свидетелей/потерпевших. 
                        p.clients__p Выработка стратегии защиты Сбор и предоставление собственных доказательств по делу, доказательств в защиту. 
                        p.clients__p Опротестование доказательств обвинение на следствии.
                    .clients__item 
                        .clients__img
                            img(src="@img/clients-img-1.svg", alt="" draggable="false")
                        p.clients__subtitle Обжалование действий бездействий по 123, 124, 125 УПК РФ
                        p.clients__p Ознакомление с материалами проверки жалоб
                        p.clients__p Обжалование неполной проверки жалоб
                        p.clients__p Приобщение материалов проверки жалоб к уголовному делу.
                    .clients__item 
                        .clients__img
                            img(src="@img/clients-img-2.svg", alt="" draggable="false")
                        p.clients__subtitle Посещение места задержания заключения (СИЗО, ИВС, ИК)
                        p.clients__p По желанию клиента представляю его интересы без личного участия на основании нотариально оформленной доверенности.
                .clients__bottom
                    .clients__item 
                        .clients__img 
                            img(src="@img/clients-img-3.svg", alt="" draggable="false")
                        p.clients__subtitle Посещение места задержания заключения (СИЗО, ИВС, ИК)
                        p.clients__p Подготовка к даче объяснений, выработка стратегии защиты
                        p.clients__p Проверка полномочий на изъятие и получение документов в рамках проверки.
                        p.clients__p Приобщение доказательств защиты
                    .clients__item 
                        .clients__img 
                            img(src="@img/clients-img-4.svg", alt="" draggable="false") 
                        p.clients__subtitle Судебный процесс .
                        p.clients__p Введение процесса гласно с оглашением всех представленных доказательств
                        p.clients__p Допрос свидетелей и потерпевших , использование тактики судебного допроса
                        p.clients__p Фиксации оглашение доказательств, внесение замечаний на протокол и на действие судьи, прокурора
                    .clients__item 
                        .clients__img
                            img(src="@img/clients-img-5.svg", alt="" draggable="false") 
                        p.clients__subtitle Не берусь за заведомо  проигрышные дела
                        p.clients__p Ознакомление с материалами дела ( на всех стадиях привлечения) и подготовка доказательств
                        p.clients__p Каталогизация и цифровизации работы с документами
                        p.clients__p Сбор, подготовка и проверка на предмет достаточности доказательства - адвокатский запрос, поиск и опрос свидетелей, видео