mixin clients()
    .clients 
        .clients__body.container 
            h2.clients__title Я ценю каждого своего клиента 
            p.clients__desc поэтому предлагаю комфортные условия работы
            .clients__content
                .clients__top 
                    .clients__item 
                        .clients__img   
                            img(src="@img/clients-img-1.svg", alt="" draggable="false")
                        p.clients__subtitle Все судебные инстанции
                        p.clients__p Представляю Ваши интересы не только в судах первой инстанции, но и в апелляционной и кассационной инстанциях.
                    .clients__item 
                        .clients__img
                            img(src="@img/clients-img-1.svg", alt="" draggable="false")
                        p.clients__subtitle Москва #[br] и Московская область
                        p.clients__p Я работаю не только в пределах Москвы, но и в Московской области (стоимость выезда обговаривается в индивидуальном порядке). 
                    .clients__item 
                        .clients__img
                            img(src="@img/clients-img-2.svg", alt="" draggable="false")
                        p.clients__subtitle Веду дела #[br] без участия клиента
                        p.clients__p По желанию клиента представляю его интересы без личного участия на основании нотариально оформленной доверенности.
                .clients__bottom
                    .clients__item 
                        .clients__img 
                            img(src="@img/clients-img-3.svg", alt="" draggable="false")
                        p.clients__subtitle Уведомляю #[br] о каждом этапе работы
                        p.clients__p Информирую клиента о ходе дела на каждом этапе. Предоставляю своему клиенту аудиозапись каждого судебного заседания.
                    .clients__item 
                        .clients__img 
                            img(src="@img/clients-img-4.svg", alt="" draggable="false") 
                        p.clients__subtitle На связи #[br] с клиентом 24/7
                        p.clients__p Всегда стараюсь быть на связи, потому что знаю как важно получить юридическую поддержку вне зависимости от времени суток.
                    .clients__item 
                        .clients__img
                            img(src="@img/clients-img-5.svg", alt="" draggable="false") 
                        p.clients__subtitle Не берусь за заведомо  проигрышные дела
                        p.clients__p Я ценю Ваше время и денежные средства. Если спор заведомо проигрышный, скажу об этом честно.