mixin consult()
    .consult 
        .consult__body.container 
            h2.consult__title Что Вы получите #[br] по итогам моей консультации?
            .consult__content 
                .consult__item 
                    .consult__img 
                        img(src="@img/tick.svg", alt="" draggable="false")
                    p.consult__p ПРАВОВУЮ ОЦЕНКУ ДОКУМЕНТОВ И ОБСТОЯТЕЛЬСТВ
                .consult__item 
                    .consult__img 
                        img(src="@img/tick.svg", alt="" draggable="false")
                    p.consult__p СВЕДЕНИЯ О ПРАВОВЫХ РИСКАХ И ОБ ЭФФЕКТИВНЫХ СПОСОБАХ ЗАЩИТЫ В СУДЕ
                .consult__item 
                    .consult__img 
                        img(src="@img/tick.svg", alt="" draggable="false")
                    p.consult__p СВЕДЕНИЯ О ПЕРСПЕКТИВЕ РАССМОТРЕНИЯ СПОРА СУДОМ