mixin consult()
    .consult 
        .consult__body.container 
            h2.consult__title Я делаю чтобы следствие выполнило действия с помощью механизма ст 123, 124 -125 УПК.
            .consult__content 
                .consult__item 
                    .consult__img 
                        img(src="@img/tick.svg", alt="" draggable="false")
                    p.consult__p Собрать и приобщить материалы доказательства защиты ( в том числе невиновности) к материалам следствия
                .consult__item 
                    .consult__img 
                        img(src="@img/tick.svg", alt="" draggable="false")
                    p.consult__p Исключить незаконные доказательства собранные с процессуальными нарушениями
                .consult__item 
                    .consult__img 
                        img(src="@img/tick.svg", alt="" draggable="false")
                    p.consult__p Постановка правильных вопросов и контроль за действием эксперта и порядка назначения экспертиз и качеством.