mixin contacts()
    .contacts 
        .contacts__body.container 
            h2.contacts__title Контакты
            p.contacts__desc Рабочие дни: с 10.00 до 20.00. #[br] Выходные дни: по предварительной записи.
            .contacts__row 
                .contacts__left 
                    .contacts__item 
                        p.contacts__subtitle Адрес офиса:
                        p.contacts__adress г. Москва, ул. Большая Очаковская, д. 5 #[br] метро Аминьевская 1,28 км #[br] метро Мичуринский проспект 1,49 км
                    .contacts__item 
                        p.contacts__subtitle Телефон: 
                        a(href="tel::+7(995)100-88-10").contacts__link +7 (995) 100-88-10
                    .contacts__item 
                        p.contacts__subtitle E-mail: 
                        a(href="mailto::advokat@oberger.ru").contacts__link advokat@oberger.ru
                    .contacts__item 
                        p.contacts__subtitle Мессенджеры:
                        .contacts__medias 
                            a(href="https://t.me/OBRGeR").contacts__media
                                .contacts__img
                                    img(src="@img/telegram.svg", alt="" draggable="false")
                                | Telegram
                            a(href="https://https://api.whatsapp.com/send/?phone=%2B79651957700&text&type=phone_number&app_absent=0").contacts__media
                                .contacts__img
                                    img(src="@img/whatsapp.svg", alt="" draggable="false") 
                                | WhatsApp
                        button(type="button").contacts__btn Записаться на консультацию‍  
                .contacts__map 
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.uz/maps/213/moscow/?from=api-maps&ll=37.615294%2C55.762290&origin=jsapi_2_1_79&pt=37.464203%2C55.687446&utm_medium=mapframe&utm_source=maps&z=13" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.uz/map-widget/v1/?from=api-maps&ll=37.615294%2C55.762290&origin=jsapi_2_1_79&pt=37.464203%2C55.687446&z=13" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>