mixin intro()
    .intro 
        .intro__body.container 
            .intro__img 
                img(src="@img/girl.jpg", alt="" draggable="false") 
            .intro__right 
                h1.intro__title Адвокат по уголовным делам
                p.intro__slogan Мои главные цели - дать компетентную и объективную оценку ситуации, выработать аргументированную правовую позицию и предпринять реальные действия для защиты клиента.
                .intro__wrapper 
                    .intro__item 
                        p.intro__desc Работаю в Москве и Московской области
                    .intro__item 
                        p.intro__desc Защищаю Вас на дознании, следствии и в суде от уголовного преследования
                button(type="button" data-target="request").intro__btn.open-popup.disable-sm.open-popup   УЗНАТЬ СУДЕБНУЮ ПЕРСПЕКТИВУ СПОРА ‍  
            button(type="button" data-target="request").intro__btn.open-popup.enable-sm Оставьте заявку на консультацию!