mixin perspective()
    .perspective 
        .perspective__body.container 
            .perspective__left 
                h2.perspective__title Хотите узнать #[br] перспективу
                p.perspective__desc Оставьте заявку на консультацию и получите независимое мнение на перспективу Вашего дела .
            form(action="").perspective__form
                .perspective__item 
                    p.perspective__subtitle Ваше имя
                    input(type="text" required).perspective__input
                .perspective__item 
                    p.perspective__subtitle Ваш телефон *
                    input(type="number" required).perspective__input
                button(type="submit").perspective__btn  Узнать судебную перспективу спора  
                p.perspective__txt Нажимая на кнопку, вы даете согласие на обработку #[a(href="#!") персональных данных]