mixin prices()
    .prices 
        .prices__body.container 
            h2.prices__title Стоимость юридических услуг
            .prices__content 
                .prices__wrapper 
                    p.prices__subtitle МИРОВОЙ СУД/ #[br] СУД ОБЩЕЙ ЮРИСДИКЦИИ
                    .prices__items 
                        .prices__item 
                            p.prices__p первая инстанция 
                            p.prices__p от 50 000 ₽ 
                        .prices__item 
                            p.prices__p апелляционная инстанция  
                            p.prices__p от 25 000 ₽
                        .prices__item 
                            p.prices__p кассационная инстанци
                            p.prices__p от 25 000 ₽
                        .prices__item 
                            p.prices__p один судодень Москва
                            p.prices__p от 5 000 ₽
                        .prices__item 
                            p.prices__p один судодень #[br] Московская область
                            p.prices__p от 10 000 ₽
                .prices__wrapper 
                    p.prices__subtitle ОТДЕЛЬНЫЕ #[br] СУДЕБНЫЕ СПОРЫ 
                    .prices__items 
                        .prices__item 
                            p.prices__p расторжение брака #[br] мировой суд
                            p.prices__p 25 000 ₽
                        .prices__item 
                            p.prices__p взыскание алиментов #[br] мировой суд/ судебный приказ  
                            p.prices__p 10 000 ₽ 
                        .prices__item 
                            p.prices__p расторжение брака #[br] суд общей юрисдикции 
                            p.prices__p от 50 000 ₽ 
                .prices__wrapper 
                    p.prices__subtitle КОНСУЛЬТАЦИЯ
                    .prices__items 
                        .prices__item 
                            p.prices__p первичная консультация по телефону/ #[br] онлайн
                            p.prices__p 0 ₽ 
                        .prices__item 
                            p.prices__p консультация #[br] очно
                            p.prices__p 3 000 ₽
                        .prices__item 
                            p.prices__p подготовка #[br] процессуального документа 
                            p.prices__p от 5 000 ₽