mixin prices()
    .prices 
        .prices__body.container 
            h2.prices__title Стоимость адвокатских услуг
            .prices__content 
                .prices__wrapper 
                    p.prices__subtitle За стадию процесса
                    .prices__items 
                        .prices__item 
                            p.prices__p Дознание
                            p.prices__p от 50 тысяч
                        .prices__item 
                            p.prices__p Следствие
                            p.prices__p от 100 тысяч
                        .prices__item 
                            p.prices__p  Суд
                            p.prices__p от 100 тысяч
                .prices__wrapper 
                    p.prices__subtitle Отдельные судебные #[br] действия
                    .prices__items 
                        .prices__item 
                            p.prices__p Ознакомление
                            p.prices__p от 15 тысяч
                        .prices__item 
                            p.prices__p Посещение места задержания
                            p.prices__p от 20 тыс.
                        .prices__item 
                            p.prices__p Сбор видеодоказательств с Москвы 
                            p.prices__p от 15 тысяч .
                        .prices__item 
                            p.prices__p Судодень      Москва
                            p.prices__p от 15 тысяч .
                        .prices__item 
                            p.prices__p Свидетель ( защита на даче показаний) 
                            p.prices__p от 20 тысяч
                .prices__wrapper 
                    p.prices__subtitle КОНСУЛЬТАЦИЯ
                    .prices__items 
                        .prices__item 
                            p.prices__p Первичная консультация по телефону
                            p.prices__p бесплатно
                        .prices__item 
                            p.prices__p консультация #[br] очно
                            p.prices__p  5000 р
                        .prices__item 
                            p.prices__p подготовка #[br] процессуального документа 
                            p.prices__p от 10 тысяч.