mixin reviews()
    .reviews 
        .reviews__body.container
            h2.reviews__title Отзывы обо мне
            .reviews__content 
                .reviews__top 
                    p.reviews__subtitle Адвокат Елена Андреевна
                    .reviews__rating 
                        p.reviews__p 4,3
                        .reviews__rating-right 
                            .reviews__stars 
                                .reviews__star 
                                    img(src="@img/star.svg", alt="" draggable="false")
                                .reviews__star 
                                    img(src="@img/star.svg", alt="" draggable="false")
                                .reviews__star 
                                    img(src="@img/star.svg", alt="" draggable="false")
                                .reviews__star 
                                    img(src="@img/star.svg", alt="" draggable="false")
                                .reviews__star 
                                    img(src="@img/star-half.svg", alt="" draggable="false")
                            a(href="#!").reviews__txt 12 отзывов • 18 оценок
                    .reviews__buttons   
                        p.reviews__info Поставьте нам оценку
                        button(type="button").reviews__btn Оставить отзыв
                    .reviews__profile 
                        .reviews__profile-img 
                            p.reviews__profile-p О
                        .reviews__profile-right
                            p.reviews__name ольга иванова
                            p.reviews__date 23 декабря 2022
                    .reviews__stars 
                        .reviews__star 
                            img(src="@img/star.svg", alt="" draggable="false")
                        .reviews__star 
                            img(src="@img/star.svg", alt="" draggable="false")
                        .reviews__star 
                            img(src="@img/star.svg", alt="" draggable="false")
                        .reviews__star 
                            img(src="@img/star.svg", alt="" draggable="false")
                        .reviews__star 
                            img(src="@img/star.svg", alt="" draggable="false")
                    p.reviews__desc Найти хорошего адвоката, впрочем как и другого специалиста, в настоящее время задача не из легких. Среди адвокатов много специалистов, заслуживающих уважения, но найти их можно только по знакомству.  А также за заинтересованность в достижении результата. Таких профессионалов можно встретить редко. И нам несказанно повезло, что судьба нас свела с ней. От всей души желаю Ольге Владимировне процветания и благополучия. Она нам очень помогла. Только благодаря ее профессионализму дело решилось в нашу пользу. С уважением и благодарностью Мыскина Р. С и Иванова О. А.
                    a(href="https://yandex.com/maps/?ll=10.854186%2C49.182076&z=4").reviews__link Больше отзывов на Яндекс Картах
                    a(href="https://yandex.uz/maps/org/lawyer_berger_o_v_/123190238134/?ll=37.464075%2C55.687245&z=14").reviews__a Адвокат Бергер О. В. на карте Москвы — Яндекс Карты 